<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
    <article class="site-content">
        <h1><%- post.title %></h1>
        <%- post.html %>
    </article>
</main>

<%- include('partials/tail') %>
