<footer class="site-footer">
    <div class="container">
        <ul class="footer-links">
            <li><a href="tel:07807464215">
                <div class="icon"><%- include('../assets/icon-phone.svg') %></div>
                07807 464215
            </a>
            <li><a href="mailto:laura@simple-yoga.co.uk">
                <div class="icon"><%- include('../assets/icon-mail.svg') %></div>
                laura@simple-yoga.co.uk</a>
            <li><a href="">
                <div class="icon"><%- include('../assets/icon-facebook.svg') %></div>
                simple-yoga
            </a>
        </ul>
        <div class="copyright">&copy; Simple Yoga <%= new Date().getFullYear() %>
    </div>
<div class="logo"><%- include('../assets/logo.svg') %></div>
</footer>
